<div style="z-index: 100; position: relative;">
  <autocomplete ng-model="search.name" data="peopleNames" attr-placeholder="Search for people" attr-input-class="form-control"></autocomplete>
  <a class="btn btn-primary pull-right floks" href="/floks">Floks ></a>
</div>

<div class="row-fluid">
  <div class="col-xs-12">
    <google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
      <markers models="people" coords="'position'" icon="'icon'" click="'showPerson'" options="markerOptions"></markers>
    </google-map>
  </div>
</div>

<div class="detail" ng-class="{show : currentPerson != null}">
  <h3 class="pull-left" style="margin-top: 0;">{{currentPerson.name}}</h3>
  <button class="btn btn-primary pull-right">Lets Flok</button>
</div>
